In [1]:
from chatbot import *

/anaconda3/envs/h4sis/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [102]:
carma = chat("Carma East")

In [103]:
ffs = chat("Central Park North Meat LLC")

In [27]:
amt_cols = [("amt" in col) for col in ffs.index]
bw_amt_cols = [("amt" in col) and ("bw" in col) for col in ffs.index]

In [28]:
ffs[bw_amt_cols]

bw_atp_amt                108740
flsa_bw_atp_amt           108740
flsa_mw_bw_atp_amt        101153
flsa_ot_bw_atp_amt       7586.82
flsa_15a3_bw_atp_amt           0
sca_bw_atp_amt                 0
mspa_bw_atp_amt                0
h1b_bw_atp_amt                 0
fmla_bw_atp_amt                0
dbra_bw_atp_amt                0
h2a_bw_atp_amt                 0
flsa_smw14_bw_amt              0
cwhssa_bw_amt                  0
osha_bw_atp_amt                0
eppa_bw_atp_amt                0
h1a_bw_atp_amt                 0
crew_bw_atp_amt                0
ccpa_bw_atp_amt                0
flsa_smwpw_bw_atp_amt          0
flsa_hmwkr_bw_atp_amt          0
ca_bw_atp_amt                  0
pca_bw_atp_amt                 0
flsa_smwap_bw_atp_amt          0
flsa_smwft_bw_atp_amt          0
flsa_smwl_bw_atp_amt           0
flsa_smwmg_bw_atp_amt          0
flsa_smwsl_bw_atp_amt          0
h2b_bw_atp_amt                 0
sraw_bw_atp_amt                0
Name: 6, dtype: object

In [29]:
sisulu = chat("Sisulu Children's Academy")

In [30]:
sisulu[amt_cols]

bw_atp_amt                 6599.51
flsa_bw_atp_amt                  0
flsa_mw_bw_atp_amt               0
flsa_ot_bw_atp_amt               0
flsa_15a3_bw_atp_amt             0
flsa_cmp_assd_amt                0
sca_bw_atp_amt                   0
mspa_bw_atp_amt                  0
mspa_cmp_assd_amt                0
h1b_bw_atp_amt             6599.51
h1b_cmp_assd_amt                 0
fmla_bw_atp_amt                  0
fmla_cmp_assd_amt                0
flsa_cl_cmp_assd_amt             0
dbra_bw_atp_amt                  0
h2a_bw_atp_amt                   0
h2a_cmp_assd_amt                 0
flsa_smw14_bw_amt                0
cwhssa_bw_amt                    0
osha_bw_atp_amt                  0
osha_cmp_assd_amt                0
eppa_bw_atp_amt                  0
eppa_cmp_assd_amt                0
h1a_bw_atp_amt                   0
h1a_cmp_assd_amt                 0
crew_bw_atp_amt                  0
crew_cmp_assd_amt                0
ccpa_bw_atp_amt                  0
flsa_smwpw_bw_atp_amt            0
flsa_hmwkr_bw_atp_amt            0
flsa_hmwkr_cmp_assd_amt          0
ca_bw_atp_amt                    0
pca_bw_atp_amt                   0
flsa_smwap_bw_atp_amt            0
flsa_smwft_bw_atp_amt            0
flsa_smwl_bw_atp_amt             0
flsa_smwmg_bw_atp_amt            0
flsa_smwsl_bw_atp_amt            0
h2b_bw_atp_amt                   0
sraw_bw_atp_amt                  0
Name: 14, dtype: object

In [31]:
non_bw_amt_cols = [("amt" in col) and ("bw" not in col) for col in ffs.index]

In [85]:
for name in sisulu[non_bw_amt_cols].index:
    print(name + " +", end =" ")

flsa_cmp_assd_amt + mspa_cmp_assd_amt + h1b_cmp_assd_amt + fmla_cmp_assd_amt + flsa_cl_cmp_assd_amt + h2a_cmp_assd_amt + osha_cmp_assd_amt + eppa_cmp_assd_amt + h1a_cmp_assd_amt + crew_cmp_assd_amt + flsa_hmwkr_cmp_assd_amt +

In [33]:
kids = chat("Comprehensive Kids")

In [34]:
kids[amt_cols]

bw_atp_amt                 5119.93
flsa_bw_atp_amt                  0
flsa_mw_bw_atp_amt               0
flsa_ot_bw_atp_amt               0
flsa_15a3_bw_atp_amt             0
flsa_cmp_assd_amt                0
sca_bw_atp_amt                   0
mspa_bw_atp_amt                  0
mspa_cmp_assd_amt                0
h1b_bw_atp_amt             5119.93
h1b_cmp_assd_amt              7844
fmla_bw_atp_amt                  0
fmla_cmp_assd_amt                0
flsa_cl_cmp_assd_amt             0
dbra_bw_atp_amt                  0
h2a_bw_atp_amt                   0
h2a_cmp_assd_amt                 0
flsa_smw14_bw_amt                0
cwhssa_bw_amt                    0
osha_bw_atp_amt                  0
osha_cmp_assd_amt                0
eppa_bw_atp_amt                  0
eppa_cmp_assd_amt                0
h1a_bw_atp_amt                   0
h1a_cmp_assd_amt                 0
crew_bw_atp_amt                  0
crew_cmp_assd_amt                0
ccpa_bw_atp_amt                  0
flsa_smwpw_bw_atp_amt            0
flsa_hmwkr_bw_atp_amt            0
flsa_hmwkr_cmp_assd_amt          0
ca_bw_atp_amt                    0
pca_bw_atp_amt                   0
flsa_smwap_bw_atp_amt            0
flsa_smwft_bw_atp_amt            0
flsa_smwl_bw_atp_amt             0
flsa_smwmg_bw_atp_amt            0
flsa_smwsl_bw_atp_amt            0
h2b_bw_atp_amt                   0
sraw_bw_atp_amt                  0
Name: 207, dtype: object

In [38]:
df = pd.read_csv("Wage_theft_all_zipcodes_NYC.csv")
df.head()

,case_id,trade_nm,legal_name,street_addr_1_txt,cty_nm,st_cd,zip_cd,naic_cd,naics_code_description,case_violtn_cnt,...,flsa_smwsl_bw_atp_amt,flsa_smwsl_ee_atp_cnt,eev_violtn_cnt,h2b_violtn_cnt,h2b_bw_atp_amt,h2b_ee_atp_cnt,sraw_violtn_cnt,sraw_bw_atp_amt,sraw_ee_atp_cnt,ld_dt
0,1872676,MTA NYC Transit,Metropolitan Transportation Authority,33-33 54th Street,Woodside,NY,11377,4852,Interurban and Rural Bus Transportation,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
1,1800735,The Film Society of Lincoln Center,The Film Society of Lincoln Center,165 W 65 Street,New York,NY,10026,711110,Theater Companies and Dinner Theaters,1,...,0,0,0,0,0,0,0,0,0,2017-03-14 01:00:03 EDT
2,1872399,Carma East,NaN,507 E. 6th Street,New York,NY,10009,72211,Full-Service Restaurants,11,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
3,1783359,Scotties Cleaning Services,Top of the Line Cleaning,121 W. 115th Street,New York,NY,10026,561720,Janitorial Services,18,...,0,0,0,0,0,0,0,0,0,2016-11-07 01:00:04 EST
4,1872356,Complete Construction Contracting,Complete Construction Contracting Corp,214 West 29th Street Suite 402,New York,NY,10001,2362,Nonresidential Building Construction,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT

In [51]:
non_bw_amts_df = df[kids[non_bw_amt_cols].index]
non_bw_amts_df.head()

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
0,0.0,0.0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0,0,0,0,0,0,0,0,0

In [76]:
non_zero_sums_df = non_bw_amts_df[non_bw_amts_df.apply(sum, axis=1) != 0]
non_zero_sums_df.head()

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
6,1463.00,0.0,0,0,0,0,0,0,0,0,0
7,3319.25,0.0,0,0,0,0,0,0,0,0,0
41,7480.00,0.0,0,0,0,0,0,0,0,0,0
67,23728.00,0.0,0,0,0,0,0,0,0,0,0
68,20900.00,0.0,0,0,0,0,0,0,0,0,0

In [81]:
non_zero_sums_df[non_zero_sums_df["flsa_cl_cmp_assd_amt"] != 0]

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
120,0.0,0.0,0,0,1765,0,0,0,0,0,0
712,0.0,0.0,0,0,6350,0,0,0,0,0,0
2099,0.0,0.0,0,0,4650,0,0,0,0,0,0
2645,0.0,0.0,0,0,1622,0,0,0,0,0,0
2656,0.0,0.0,0,0,1622,0,0,0,0,0,0
2725,0.0,0.0,0,0,50604,0,0,0,0,0,0
3638,0.0,0.0,0,0,5300,0,0,0,0,0,0
4305,0.0,0.0,0,0,4674,0,0,0,0,0,0

In [89]:
cmp_assd_amt_cols = [("cmp_assd_amt" in col) for col in ffs.index]

In [108]:
kids[cmp_assd_amt_cols]

flsa_cmp_assd_amt             0
mspa_cmp_assd_amt             0
h1b_cmp_assd_amt           7844
fmla_cmp_assd_amt             0
flsa_cl_cmp_assd_amt          0
h2a_cmp_assd_amt              0
osha_cmp_assd_amt             0
eppa_cmp_assd_amt             0
h1a_cmp_assd_amt              0
crew_cmp_assd_amt             0
flsa_hmwkr_cmp_assd_amt       0
Name: 207, dtype: object

In [107]:
kids["cmp_assd_cnt"]

7844.0

In [95]:
case_counts = [("violtn_cnt" in col) for col in ffs.index]

In [104]:
carma[case_counts]

case_violtn_cnt          11
flsa_violtn_cnt          11
sca_violtn_cnt            0
mspa_violtn_cnt           0
h1b_violtn_cnt            0
fmla_violtn_cnt           0
flsa_cl_violtn_cnt        0
dbra_cl_violtn_cnt        0
h2a_violtn_cnt            0
flsa_smw14_violtn_cnt     0
cwhssa_violtn_cnt         0
osha_violtn_cnt           0
eppa_violtn_cnt           0
h1a_violtn_cnt            0
crew_violtn_cnt           0
ccpa_violtn_cnt           0
flsa_smwpw_violtn_cnt     0
flsa_hmwkr_violtn_cnt     0
ca_violtn_cnt             0
pca_violtn_cnt            0
flsa_smwap_violtn_cnt     0
flsa_smwft_violtn_cnt     0
flsa_smwl_violtn_cnt      0
flsa_smwmg_violtn_cnt     0
flsa_smwsl_violtn_cnt     0
eev_violtn_cnt            0
h2b_violtn_cnt            0
sraw_violtn_cnt           0
Name: 2, dtype: object

In [2]:
type(data)

list

In [3]:
df = pd.read_csv("Wage_theft_all_zipcodes_NYC.csv")
df.head()

,case_id,trade_nm,legal_name,street_addr_1_txt,cty_nm,st_cd,zip_cd,naic_cd,naics_code_description,case_violtn_cnt,...,flsa_smwsl_bw_atp_amt,flsa_smwsl_ee_atp_cnt,eev_violtn_cnt,h2b_violtn_cnt,h2b_bw_atp_amt,h2b_ee_atp_cnt,sraw_violtn_cnt,sraw_bw_atp_amt,sraw_ee_atp_cnt,ld_dt
0,1872676,MTA NYC Transit,Metropolitan Transportation Authority,33-33 54th Street,Woodside,NY,11377,4852,Interurban and Rural Bus Transportation,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
1,1800735,The Film Society of Lincoln Center,The Film Society of Lincoln Center,165 W 65 Street,New York,NY,10026,711110,Theater Companies and Dinner Theaters,1,...,0,0,0,0,0,0,0,0,0,2017-03-14 01:00:03 EDT
2,1872399,Carma East,NaN,507 E. 6th Street,New York,NY,10009,72211,Full-Service Restaurants,11,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
3,1783359,Scotties Cleaning Services,Top of the Line Cleaning,121 W. 115th Street,New York,NY,10026,561720,Janitorial Services,18,...,0,0,0,0,0,0,0,0,0,2016-11-07 01:00:04 EST
4,1872356,Complete Construction Contracting,Complete Construction Contracting Corp,214 West 29th Street Suite 402,New York,NY,10001,2362,Nonresidential Building Construction,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT

In [6]:
for row in df.head():
    print(type(row))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [28]:
fuzzy_match("MTA", "NYC Transit")

29

In [4]:
address(chat("Pepsi-Cola")[0])

'11202 15th Avenue, College Point, NY 11356'

In [2]:
all_results("Dunkin");

Dunkin Donuts, 1 East 161st Street, Bronx, NY 10451
Dunkin Donuts, 50 E 161st Street, Bronx, NY 10451
Dunkin Donuts, 316 W 34th Street, New York, NY 10001
Dunkin Donuts, 2222 Forest Ave, Staten Island, NY 10303
Dunkin Donuts (Jackson Heights), 95-02 37th Ave, Jackson Heights, NY 11372
Dunkin Donuts, 655 Rossville Ave, Staten Island, NY 10309
Dunkin Donuts (NYC), 360 W 31st Street, New York, NY 10001
Dunkin Donuts, 6366 108th Street, Forest Hills, NY 11375
DUNKIN' DONUTS & BASKIN ROBBINS, 1735 JEROME AVENUE, Bronx, NY 10453
Dunkin Donuts-1805 Webster Ave, 1805 Webster Ave, Bronx, NY 10457
DUNKIN' DONUTS & BASKIN ROBBINS, 4115 3RD AVENUE, Bronx, NY 10457
DUNKIN' DONUTS & BASKIN ROBBINS, 3685 BRUCKNER BLVD, Bronx, NY 10461
Dunkin Donuts-2200 White Plains, 2200 White Plains Rd, Bronx, NY 10462
Dunkin Donuts/Baskin Robbins, 699 Morris Park Ave, Bronx, NY 10462
Dunkin Donut, 1145 Bay St, Staten Island, NY 10305
Dunkin Donuts-712 E. 233rd, 712 E. 233rd Street, Bronx, NY 10466
Dunkin Donuts, 138-50 Jamaica Avenue, Jamaica, NY 11435
Dunkin Donuts-980 E. 233rd, 980 E 233rd Street, Bronx, NY 10466
DUNKIN' DONUTS & BASKIN ROBBINS, 2 EAST KINGSBRIDGE ROAD, Bronx, NY 10468
Dunkin Donuts-Westchester Ave, 1791 Westchester Ave, Bronx, NY 10472
DUNKIN  DONUTS, 355 3rd Avenue, New York, NY 10010
Dunkin Donuts, 387 Jay Street, Brooklyn, NY 11201
Pizza Hut & Dunkin Donuts, 451 Fulton Street, Brooklyn, NY 11201
Dunkin Donuts, 1416 St. Nicholas Avenue, New York, NY 10033
DUNKIN' DONUTS, 1599 SAINT NICHOLAS AVENUE, New York, NY 10040
DUNKIN' DONUTS & BASKIN ROBBINS, 4942 BROADWAY, New York, NY 10034
Dunkin Donuts, 2 Cortlandt St., New York, NY 10007
Dunkin Donuts, 140 East 34th St., New York, NY 10016
Dunkin Donuts 4th, 6309 18th Avenue, Brooklyn, NY 11204
Dunkin Donuts, 352 Graham Ave, Brooklyn, NY 11211
Dunkin Donuts, 61-03 Flushing Avenue, Maspeth, NY 11378
Dunkin Donuts, 1201 Victory Boulevard, Staten Island, NY 10304
Dunkin Donuts, 266 First Ave, New York, NY 10009
Dunkin Donuts 1st (Bay), 8514 Bay Parkway, Brooklyn, NY 11214
Dunkin Donuts 1st, 1980 86th Street, Brooklyn, NY 11214
Dunkin Donuts - 11-17 Flatbush, 17 Flatbush Avenue, Brooklyn, NY 11217
Keshtgar Dunkin Donuts - East, 107-02 Grand Central East, East Elmhurst, NY 11369
Keshtgar Dunkin Donuts- West, 108-01 Grand Central West, East Elmhurst, NY 11369
Dunkin Donuts, 906 Coney Island Avenue, Brooklyn, NY 11218
Dunkin Donuts, 266 First Avenue, New York, NY 10009
Dunkin Donuts, 132 Nassau Street, New York, NY 10038
Dunkin Donuts 8th, 506 Clarkson Avenue, Brooklyn, NY 11220
Dunkin Donuts 9th, 5425 5th Avenue, Brooklyn, NY 11220
Dunkin Donuts 7th, 67-55 5th Avenue, Brooklyn, NY 11220
Dunkin Donuts, 2630 86 Street, Brooklyn, NY 11223
Dunkin Donuts, 132 Nassau Street, New York, NY 10038
Dunkin Donuts 2nd, 373 Kings Highway, Brooklyn, NY 11223
Dunkin Donuts, 3015 Mermaid Ave., Brooklyn, NY 11224
Dunkin Donuts - 1467 Nostrand, 1467 Nostrand Avenue, Brooklyn, NY 11226
Dunkin Donuts, 1410 Ave. J, Brooklyn, NY 11230
Dunkin Dounts 5th, 747 4th Ave, Brooklyn, NY 11232
Dunkin Donuts 6th, 737 4th Avenue, Brooklyn, NY 11232
Dunkin Donuts (Queens Blvd), 35-11 Queens Boulevard, Long Island City, NY 11101
Dunkin Donuts (KNZ 110th Lexington LLC), 1773 Lexington Avenue, New York, NY 10029
Dunkin Donuts, 132 Nassau Street, New York, NY 10038
Dunkin Donuts 3rd, 711 Brighton Beach, Brooklyn, NY 11235
Dunkin Donuts (Beach 20th St), 239 Beach 20th Street, Far Rockaway, NY 11691
Dunkin Dunuts 10th, 412 3rd Avenue, New York, NY 10016
Dunkin Donuts - 250 E. Houston, 250 East Houston, New York, NY 10002

In [3]:
all_results("Pepsi-Cola")

[(0,
  'Pepsi-Cola Bottling Company of NY Inc, 11202 15th Avenue, College Point, NY 11356'),
 (1,
  'Pepsi-Cola Bottling Company of NY, Inc., 114-02 15th Avenue, 3rd Floor, College Point, NY 11356')]

In [2]:
all_results("MTA")

[(1, 'MTA NYC Transit, 33-33 54th Street, Woodside, NY 11377'),
 (2, 'New York City Transit, 97-11 222th Street, Queens Village, NY 11429'),
 (3, 'Long Island Railroad, 9359 183rd Street, Hollis, NY 11423'),
 (4,
  "Triborough Bridge & Tunnel Authority - MTA, Rober Moses Building - Randall's Island, New York, NY 10035"),
 (5, 'MTA LIRR, Jamaica Station, Jamaica, NY 11435'),
 (6,
  'New York City Transit Authority, 130 Livingston St 11th Flr, Brooklyn, NY 11201'),
 (7, 'New York City Transit, 130 Livingston Street, Brooklyn, NY 11201'),
 (8, 'MTA NYC Transit, 180 livingston, Brooklyn, NY 11201'),
 (9, 'MTA, 4065 10th Avenue, New York, NY 10034'),
 (10,
  'MTA Metro-North Railroad, 347 Madison Ave. 4th Fl., New York, NY 10017'),
 (11, 'MTA Bridges and Tunnels, 2 Broadway, New York, NY 10004'),
 (12, 'M.T.A. (LaGuardia Depot), 85-01 24th Avenue, East Elmhurst, NY 11369'),
 (13, 'Metro North Railroad, 347 Madison Avenu, New York, NY 10017')]

In [3]:
all_results("Round")

[(1, 'Round the Clock Nursery, 3333 Broadway, New York, NY 10031')]